<!-- スクリプト -->
<%= content_for :head do %> 
  <script language="Javascript">
  /*
   * 終了ボタン
   */
  function btnEndClicked(){
      var frmSend = document.getElementById("menu_form");
      frmSend.action="<%= url_for :controller => 'menu', :action =>'menu0010' %>";
      frmSend.submit();
  }
  /*
   * 新規作成ボタン
   */
  function btnNewClicked(){
    var frmSend = document.getElementById("menu_form");
    frmSend.action="<%= url_for :action =>'new' %>";
    frmSend.submit();
  }
  /*
   * 表示ボタン
   */
  function btnShowClicked(id){
    var frmSend = document.getElementById("menu_form");
    frmSend.action="<%= url_for :action =>'show' %>" + "?id=" + id;
    frmSend.submit();
  }
  /*
   * 編集ボタン
   */
  function btnEditClicked(id){
    var frmSend = document.getElementById("menu_form");
    frmSend.action="<%= url_for :action =>'edit' %>" + "?id=" + id;
    frmSend.submit();
  }
  /*
   * 削除ボタン
   */
  function btnDelClicked(id){
    if (window.confirm('削除しますがよろしいですか？')){
      var frmSend = document.getElementById("menu_form");
      frmSend.action="<%= url_for :action =>'destroy' %>" + "?id=" + id;
      frmSend.submit();
    }
  }

  /*
   * 一覧作成ボタン
   */
  function btnListClicked(){
    var frmSend = document.getElementById("menu_form");
    frmSend.action="<%= url_for :action =>'list' %>";
    frmSend.submit();
  }

  /*
   * 起動時の処理
   */
  function onLoad(){
      /* エラーメッセージがあれば表示する  */
      var msg = "<%=  flash[:notice] %>";
      if  (msg.length != 0){
        alert(msg);
        <%=  flash[:notice] = ""%>
      }
    /* 最初のフォーカス */
    //document.getElementById('syoninNo').focus();
  }

  </script>
<% end %>

<!-- 表題 -->
<div style="top:5px;left:0px;position:absolute">
<table border="0" width="970px">
    <tr>
        <td class="title"><%= label :login, :table_name  %></td>
    </tr>
</table>
  <P><INPUT class="GamenCD" disabled readonly value="logins" name="GamenCD" tabindex=-1 ></P>
 </div>

<!-- 表見出し  -->
<div style="top:70px; left:10px;position:absolute">
<table border=0 cellspacing=1 cellpadding=4 class="tbl_bgcolor_90">
  <colgroup>
    <col width="100px">
    <col width="100px">
    <col width="100px">
    <col width="40px">
    <col width="40px">
    <col width="40px">
  </colgroup>
  <tr>
    <td class="tbl_title"><%= label :login, :user_id %></td>
    <td class="tbl_title"><%= label :login, :password %></td>
    <td class="tbl_title"><%= label :login, :staff_no %></td>
    <td class="tbl_title"></td>
    <td class="tbl_title"></td>
    <td class="tbl_title"></td>
  </tr>

<!-- 表本体  -->
<% cnt = 0 %>
<% @logins.each do |login| %>
<% cnt = cnt + 1 %>
  <tr>
    <td class="<%= get_td_class(cnt) %>"><%= login.user_id %></td>
    <td class="<%= get_td_class(cnt) %>"><%= login.password %></td>
    <td class="<%= get_td_class(cnt) %>"><%= login.staff_no %></td>
    <td class="<%= get_td_class(cnt) %>" align="center"><span onclick="btnShowClicked('<%= login.id %>');" class="link">表示</span></td>
    <td class="<%= get_td_class(cnt) %>" align="center"><span onclick="btnEditClicked('<%= login.id %>');" class="link">編集</span></td>
    <td class="<%= get_td_class(cnt) %>" align="center"><span onclick="btnDelClicked('<%= login.id %>');"  class="link">削除</span></td>


  </tr>
<% end %>
</table>
<!--ページネート-->
<%= will_paginate(@logins,:previous_label => '前へ', :next_label => '次へ') %>

</div>

<!-- ボタン領域 -->
<div style="top:610px;left:10px;position:absolute">
  <hr width="970px">
  <span class="font90">
<table border="0" width="970px">
<tr>
<td>
</td>
<td align=right>
    <input type="button"  value="新規作成へ"   onclick="btnNewClicked();"  class="sub_button">
    <input type="button"  value="メニューへ"   onclick="btnEndClicked();"  class="sub_button">
</td>
</tr>
</table>
  </span>
</div>
<!--メニュー遷移用 -->
<%= form_tag({:controller => 'menu', :action =>'menu0010'},{ :name=> :menu_form , :id=> :menu_form }) do %>
<% end %>

