<!-- スクリプト -->
<%= content_for :head do %> 
  <script language="Javascript">
  /*
   * 終了ボタン
   */
  function btnEndClicked(){
      $("#menu_form").attr("action","<%= url_for :controller => 'menu', :action =>'menu0010' %>");
      $("#menu_form").submit();
  }
  /*
   * 戻るボタン
   */
  function btnBackClicked(){
      $("#menu_form").attr("action","<%= url_for :action =>'index' %>");
      $("#menu_form").submit();
  }
  /*
   * 編集作成ボタン
   */
  function btnEditClicked(){
      $("#menu_form").attr("action","<%= url_for :action =>'edit' %>" + "?id=" + <%= @member_mst.id %>);
      $("#menu_form").submit();
  }

  /*
   * 起動時の処理
   */
  function onLoad(){
      /* エラーメッセージがあれば表示する  */
      var msg = "<%=  flash[:notice] %>";
      if  (msg.length != 0){
        alert(msg);
        <%=  flash[:notice] = ""%>
      }
    /* 最初のフォーカス */
    //document.getElementById('syoninNo').focus();
  }
  </script>
<% end %>

<!-- 表題 -->
<div style="top:5px;left:0px;position:absolute">
  <table border="0" width="970px">
    <tr>
        <td class="title"><%= label :member_mst, :table_name  %></td>
    </tr>
  </table>
  <P><INPUT class="GamenCD" disabled readonly value="member_msts" name="GamenCD" tabindex=-1 ></P>
  <p id="notice"><%= notice %></p>
</div>

<!-- 表見出し  -->
<div style="top:70px; left:10px;position:absolute">
  <table border=0 cellspacing=1 cellpadding=4 class="tbl_bgcolor">
    <colgroup>
      <col width="150px">
      <col width="600px">
    </colgroup>
      <tr>
      <td class="tbl_title"><%= label :member_mst, :menber_no %></td>
      <td class="tbl_data" ><%= @member_mst.menber_no %></td>
    </tr>
      <tr>
      <td class="tbl_title"><%= label :member_mst, :menber_name %></td>
      <td class="tbl_data" ><%= @member_mst.menber_name %></td>
    </tr>
      <tr>
      <td class="tbl_title"><%= label :member_mst, :birth_date %></td>
      <td class="tbl_data" ><%= @member_mst.birth_date %>　(<%= get_nen(@member_mst.birth_date)%>歳)</td>
    </tr>
      <tr>
      <td class="tbl_title"><%= label :member_mst, :enter_date %></td>
      <td class="tbl_data" ><%= @member_mst.enter_date %>　(<%= get_nen(@member_mst.enter_date)%>年)</td>
    </tr>
      <tr>
      <td class="tbl_title"><%= label :member_mst, :marry_date %></td>
<% if @member_mst.marry_date.blank? %>
      <td class="tbl_data" ></td>
<% else %>
      <td class="tbl_data" ><%= @member_mst.marry_date %>　(<%= get_nen(@member_mst.marry_date)%>年)</td>
<% end %>
    </tr>
      <tr>
      <td class="tbl_title"><%= label :member_mst, :memo %></td>
      <td class="tbl_data" ><%= @member_mst.memo %></td>
    </tr>
  </table>
  <hr width="970px">
  <span class="mid_title">今現在の祝い金</span>
  <table border=0 cellspacing=1 cellpadding=4 class="tbl_bgcolor">
    <colgroup>
      <col width="150px">
      <col width="600px">
    </colgroup>
      <tr>
      <td class="tbl_title">勤続祝い金</td>
      <td class="tbl_data" ><%= get_gift_kinzoku(get_nen(@member_mst.enter_date)) %></td>
    </tr>
      <tr>
      <td class="tbl_title">結婚祝い金</td>
      <td class="tbl_data" ><%= get_gift_marry(get_nen(@member_mst.marry_date)) %></td>
    </tr>
  </table>
  <hr width="970px">
  <span class="mid_title">次回祝い金取得日</span>
  <table border=0 cellspacing=1 cellpadding=4 class="tbl_bgcolor">
    <colgroup>
      <col width="150px">
      <col width="100px">
      <col width="500px">
    </colgroup>
      <tr>
      <td class="tbl_title">勤続祝い金</td>
      <td class="tbl_data" ><%= get_gift_kinzoku_next(@member_mst.enter_date)[0] %></td>
      <td class="tbl_data" ><%= get_gift_kinzoku_next(@member_mst.enter_date)[1] %></td>
    </tr>
      <tr>
      <td class="tbl_title">結婚祝い金</td>
      <td class="tbl_data" ><%= get_gift_marry_next(@member_mst.marry_date)[0] %></td>
      <td class="tbl_data" ><%= get_gift_marry_next(@member_mst.marry_date)[1] %></td>
    </tr>
  </table>
</div>

<!-- ボタン領域 -->
<div style="top:620px;left:10px;position:absolute">
  <hr width="970px">
<table border="0" width="970px">
<tr>
<td>
</td>
<td align=right>
  <input type="button"  value="編　集へ"    onclick="btnEditClicked();"   class="sub_button">
  <input type="button"  value="戻　る"      onclick="btnBackClicked();"   class="sub_button">
  <input type="button"  value="メニューへ"  onclick="btnEndClicked();"    class="sub_button">
</td>
</tr>
</table>
</div>

<!--メニュー遷移用 -->
<%= form_tag({:controller => 'menu', :action =>'menu0010'},{ :name=> :menu_form , :id=> :menu_form }) do %>
<% end %>
